 
.header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7);
     backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 16px;

}

.nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 1.5rem;
} 
.img img {

  height: 50px;
  width: auto;           
  object-fit: cover;     
  display: block;        
} 
.activo {
    font-weight: 700;
}  

.title-page {
    color: #444444;
    font-family: Oxygen , 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}