.form {
  max-width: 300px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  margin: 40px;
}

.error {
  color: red;
  font-size: 0.9rem;
}

.form__title {
  text-align: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #c9c9c9;
}