
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="mt-3 mx-auto form">

    <h3 class="title-page">Formulario Nuevo Usuario</h3>

    <div>
        <label class="form-label" for="first_name">Nombre</label>
        <input class="form-control" type="text" id="first_name"  formControlName="first_name">
    </div>
    <div>
        <label class="form-label" for="last_name">Apellido</label>
        <input class="form-control" type="text" id="last_name" formControlName="last_name">
    </div>
    <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="text" id="email" formControlName="email">
    </div>
    <div>
        <label class="form-label" for="image">Imagen</label>
        <input class="form-control" type="text" id="image" formControlName="image">
    </div>
    <input type="submit" value="Guardar" class="btn btn-success mt-2">

</form>