.btn-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn__touch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 80%;
    border-radius: 50%;
    margin: 8px auto;
}

.card-title {
    text-align: center;
    margin-bottom: 16px;
}
a:hover {
    color: blue;
}

a:hover > .btn_borrar {
    color: red;
}